@import "tailwindcss";

@config "../../tailwind.config.ts";

@theme {
  --color-card: rgb(var(--chanhdai-card));

  --color-background: rgb(var(--chanhdai-background));
  --color-foreground: rgb(var(--chanhdai-foreground));
  --color-muted-foreground: rgb(var(--chanhdai-muted-foreground));
  --color-border: rgb(var(--chanhdai-border));
  --color-info: rgb(var(--chanhdai-info));
  --color-info-foreground: rgb(var(--chanhdai-info-foreground));
  --color-success: rgb(var(--chanhdai-success));
  --color-success-foreground: rgb(var(--chanhdai-success-foreground));
  --color-link: rgb(var(--chanhdai-link));

  --font-heading: var(--next-font-body);
  --font-body: var(--next-font-body);
  --font-mono: var(--next-font-mono);
}

@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/aspect-ratio";
@plugin "tailwindcss-animate";

@variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    --chanhdai-background: 255 255 255;
    --chanhdai-foreground: 9 9 11;
    --chanhdai-card: 255 255 255;
    --chanhdai-border: 228 228 231;
    --chanhdai-muted-foreground: 113 113 122;
    --chanhdai-info: 37 99 235;
    --chanhdai-info-foreground: 37 99 235;
    --chanhdai-success: 34 197 94;
    --chanhdai-success-foreground: 34 197 94;
    --chanhdai-link: 37 99 235;
  }

  .dark {
    --chanhdai-background: 9 9 11;
    --chanhdai-foreground: 250 250 250;
    --chanhdai-card: 24 24 27;
    --chanhdai-border: 39 39 42;
    --chanhdai-muted-foreground: 161 161 170;
    --chanhdai-info: 37 99 235;
    --chanhdai-info-foreground: 59 130 246;
    --chanhdai-success: 34 197 94;
    --chanhdai-success-foreground: 34 197 94;
    --chanhdai-link: 59 130 246;
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    @apply border-border;
  }

  body {
    @apply bg-background font-body text-foreground antialiased;
  }

  /* Custom scrollbar styling. Thanks shadcn-ui */
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(var(--border));
    border-radius: 5px;
  }
  * {
    scrollbar-width: thin;
    scrollbar-color: rgb(var(--border)) transparent;
  }
}

@utility visually-hidden {
  position: absolute;
  overflow: hidden;
  height: 1px;
  padding: 0;
  border: 0;

  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
}

@utility link {
  @apply text-link hover:underline;
}
